.link{
    text-decoration: none;
}

.list{
    list-style-type: none;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.button{
    cursor: pointer;
}
.logo{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo>span{
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus{
    color: #404BBF;
}

.menu-link{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.link-contact{
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-contact:hover,
.link-contact:focus{
    color: #404BBF; 
}

.first-section{
    background: #2E2F42;
}

.text-one{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button{
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button:hover,
.button:focus{
   background-color: #404BBF;
}

.text-h2{color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.text-h3{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-p{
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section{
    background-color: #F4F4FD;
}

.list-team-item{
    background-color: #FFFFFF;
}

.page-footer{
    background-color: #2E2F42;
}

.logo-footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.log-foot{
    color: #F4F4FD;
}

.fut{
    color:  #F4F4FD;
}