a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

.logo{
    color: #4D5AE5;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo>span{
    font-family:'Raleway', sans-serif;
    color: #2E2F42;
}

.link-main-nav{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-main-nav:hover,
.link-main-nav:focus{
    color: #404BBF;
}

.link-contact{
    color: #434455;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.first-section{
    background-color: #2E2F42;
}

h1{
    color:  #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button{
    background: #4D5AE5;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button:hover{
    background: #404BBF;
}

h2{
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

h3{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1,2;
    letter-spacing: 0.02em;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1,5;
    letter-spacing: 0.02em;
}

.team-section{
    background-color: #F4F4FD;
}

.page-footer{
    background: #2E2F42;
}

.text-footer{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo-footer{
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-footer>span{
    font-family:'Raleway', sans-serif;
    color: #FFF;
}